In [11]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
import pickle

In [2]:
diabetes=pd.read_csv("diabetes_data.csv")
hypo=pd.read_csv("hypoxemia.csv")
asth=pd.read_csv("asthma.csv")

In [4]:
display(diabetes.head())
display(hypo.head())
display(asth.head())

   Glucose level  diabetes class
0            239               2
1            124               0
2             81               0
3             87               0
4            241               2

   oxygen saturation  hypoxemia
0                 90          1
1                 93          1
2                102          0
3                 93          1
4                 88          1

   oxygen saturation  Resp rate  asthma
0                101         16       0
1                 90         17       0
2                 89         29       1
3                 99         30       0
4                102         20       0

In [3]:
rf_d=RandomForestClassifier()
dt_h=DecisionTreeClassifier()
lr_a=LogisticRegression()

In [7]:
rf_d.fit(np.array(diabetes["Glucose level"]).reshape(-1,1),diabetes["diabetes class"])

RandomForestClassifier()

In [8]:
lr_a.fit(asth[["oxygen saturation","Resp rate"]],asth["asthma"])

LogisticRegression()

In [10]:
dt_h.fit(np.array(hypo["oxygen saturation"]).reshape(-1,1),hypo["hypoxemia"])

DecisionTreeClassifier()

In [13]:
filename = 'rf_diabetes.sav'
pickle.dump(rf_d, open(filename, 'wb'))

In [14]:
filename = 'dt_hypoxemia.sav'
pickle.dump(dt_h, open(filename, 'wb'))
filename = 'lr_asthma.sav'
pickle.dump(lr_a, open(filename, 'wb'))

In [15]:
"""
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)
"""

"\n# load the model from disk\nloaded_model = pickle.load(open(filename, 'rb'))\nresult = loaded_model.score(X_test, Y_test)\nprint(result)\n"